.hint{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px solid $border-color;
  width: 400px;
  margin-left: 5px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-family: $main-font;
  font-size: 18px;
  background-color: $box-color;
}
