.used{
  grid-column-start: 2;
  grid-column-end: 3;
  height: 75px;
  border: 1px solid $border-color;
  width: 400px;
  margin: 5px 5px 5px 5px;
  font-family: $main-font;
  background-color: white;
}
