.used{
  grid-column-start: 2;
  grid-column-end: 3;
  border: 1px solid $border-color;
  width: 400px;
  height: 100px;
  margin: 5px 5px 5px 5px;
  font-family: $main-font;
  text-align: center;
  background-color: $box-color;
}

.title3{
  font-family: $secondary-font;
  position: absolute;
  margin-top: 300px;
  margin-left: 340px;
  text-align: right;
  font-size: 20px;
}
